@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
  background-color: #222;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#00feba,#5b548a);
  color: #fff;
  margin: 40px auto 0px;
  text-align: center;
  padding: 30px 35px;
  border-radius: 20px;
  min-width: 283px;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  height: 60px;
  width: 40px;
  min-width: 163px;
  padding: 10px 10px;
  font-size: 18px;  
  margin-right: 16px;
  flex: 1;
  border-radius: 30px;
  color: #555;
}

.search button{
  border: 0;
  outline: 0;
  min-width: 60px;
  border-radius: 50%;
  background: #ebfffc;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img{
  width: 16px;
}

.details{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
}
.details .col1{
  display: flex;
  padding-right: 30px;
  display: flex;
 align-items: center;
  justify-content: center;
}

.details .col1 img{
  width: 40px;
}

.details .col2{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details .col2 img{
  width: 40px;
}

#curr{
  width: 35%;
}

.img1{
  padding-right: 10px;
}

.weather{
  display: none;
}

#error{
  padding-top: 20px;
  display: flex;
  margin-left: 5px;
  display: none;
}